/* 폰트 설정 */
@charset "utf-8";
@font-face{
    font-family: "CjOnlyOneTitleMedium";
    font-style: normal;
    src: url(./CJONLYONENEWtitleMedium.woff) format('woff');

}
@font-face{
    font-family: "CjOnlyOneBodyLight";
    font-style: normal;
    src: url(./CJONLYONENEWbodyLight.woff) format('woff');

}
html, body, div, p, ul, li {font-family: "CjOnlyOneBodyLight", sans-serif;}
b, strong, h1, h2, h3, h4, h5, h6 {font-family: "CjOnlyOneTitlemedium", sans-serif;}

/* fixed-top 세로 크기만큼 다음 엘리먼트 띄우기 */
body {
	min-height: 51.5rem;
	padding-top: 2.5rem;
}

/* Navbar 드롭다운 버튼 옆 삼각형 아이콘 삭제 */
nav .dropdown-toggle::after {
    display: none;
}

/* hr 세로 크기 확대*/
hr {
	margin-top: 4rem; margin-bottom: 4rem;
}