/* 폰트 설정 */
@charset "utf-8";
@font-face{
    font-family: "CjOnlyOneTitleMedium";
    font-style: normal;
    src: url(./CJONLYONENEWtitleMedium.woff) format('woff');

}
@font-face{
    font-family: "CjOnlyOneBodyLight";
    font-style: normal;
    src: url(./CJONLYONENEWbodyLight.woff) format('woff');

}

html, body {width: 100%; height: 100%; margin: 0; padding: 0; font-family: "CjOnlyOneBodyLight", sans-serif; word-break: keep-all; line-height: 1.4; font-size: 20px; color: #343a40;}
html, body, div, p, ul, li, header, nav, main, footer, h1, h2, h3, h4, h5, h6 {display: block; box-sizing: border-box; background-color: transparent;}
b, strong, h1, h2, h3, h4, h5, h6 {font-family: "CjOnlyOneTitleMedium", sans-serif;}
ul, li {list-style: none;}
a, a:link, a:visited, a:active, a:hover {text-decoration: none; color: inherit;}


/* navbar */
.navbar {position: fixed; top: 0; left: 0; right: 0; height: 70px;}
.nav-wrapper {display: flex; justify-content: space-between;}
.nav-item {display: flex;
    flex-direction: column;}
.nav-item-header {    flex-basis: 70px;
    display: flex;
    align-items: center;}

/* responsible */
.container {padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;}
.mobile {display: block;}
.desktop {display: none;}

@media (min-width: 768px) {
    .container {width: 750px;}
    .mobile {display: none;}
    .desktop {display: block;}
    .navbar:hover {height: auto;}
}
@media (min-width: 992px) {
    .container {width: 970px;}
    /* .mobile {display: none;}
    .desktop {display: block;} */
}
@media (min-width: 1200px) {
    .container {width: 1170px;}
    /* .mobile {display: none;}
    .desktop {display: block;} */
}

