---
title: "프레시원"
description: "프레시원은 좋은 식자재를 선진화된 전국 유통망을 통해 공급하는 식자재유통 전문 기업입니다."
keywords: "프레시원, freshone, 식자재, 식자재구매, 이츠웰"
---
 
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"/>
        <meta name="description" content="{{ page.description }}"/>
        <meta name="keywords" content="{{ page.keywords }}"/>
        <meta property="og:title" content="{{ page.title }}"/>
        <meta property="og:url" content="{{ site.url }}">
        <meta property="og:description" content="{{ page.description }}"/>
        <meta property="og:image" content="{{ site.url }}/res/freshone_image.png"/>
        <meta property="og:type" content="website"/>
        <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/res/favicon.ico"/>
        <link rel="stylesheet" href="{{ site.url }}/res/normalize.css"/>
        <link rel="stylesheet" href="{{ site.url }}/res/style.css"/>
        <title>{{ page.title }}</title>
    </head>
    <body>
        <header>
            {% include nav.html %}
        </header>
        <main role="main">
            <div class="container">
                {{ content }}	
            </div>
        </main>
        <footer>
            {% include footer.html %}
        </footer>
        <!-- scripts -->
    </body>
</html>